{% extends "base.html" %}

{% block title %}Contact - Guess the language{% endblock %}

{% block head %}

<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">

{% endblock %}

{% block content %}
<div class="body">
    <div class="mainContent">
        <div class="content">
            <article class="content-1-contact">
                <header>
                    <h2>
                        Contact
                    </h2>
                </header>

                <p>Andrei Chirovici</p>
                <p>07713981630</p>
                <p>andrei.chirovici@gmail.com</p>

            </article>
        </div>
    </div>
</div>
{% endblock %}