{% extends "base.html" %}

{% block title %}Home - Andrei's Bank{% endblock %}

{% block head %}
<!-- Linking Local CSS Stylesheets -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster">

{% endblock %}

{% block content %}
<div class="body">
    <div class="mainContent">
        <div class="content">
            <article class="content-1">
                <header>
                    <h2>
                        Welcome to Andrei's Bank
                    </h2>
                </header>

                <footer>
                    <p class="post-from">Andrei's Bank</p>
                </footer>


                    <p>Here at Andrei's Bank you're able to deposit any amount of money in great british pounds (GBP) as well as convert these sums into USD or EUR. You'll also be able to transfer the converted currency to any other Andrei's Bank account.</p>
                    <p>Register for an account with us today, in order to convert your currency straightaway.</p>

            </article>
        </div>
    </div>
</div>
{% endblock %}