{% extends "base.html" %}
{% block title %}Latest Rates - Andrei's Bank{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lobster"
    xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}
<div class="body">
        <div>
            <label for="exampleInputEmail1" style="color:white; font-size: 35px; font-weight: 600;">Latest Rates</label>
            <br>
            <h3 style="color:white; font-style: italic;">Powered by exchangerates.io API</h3>
            <br>
            <h3 style="color:gold;">From 1 GBP to:</h3>
            <h2 style="color:white; margin-bottom: 20px;">Euro (EUR): <input style="height:24px; width:100px;" value ="{{session['gbpeur']}}" readonly></h2>
            <h2 style="color:white; margin-bottom: 20px;">United States Dollar (USD): <input style="height:24px; width:100px;" value ="{{session['gbpusd']}}" readonly></h2>
            <br>
            <h3 style="color:gold;">From 1 EUR to:</h3>
            <h2 style="color:white; margin-bottom: 20px;">Great British Pounds (GBP): <input style="height:24px; width:100px;" value ="{{session['eurgbp']}}" readonly></h2>
            <h2 style="color:white; margin-bottom: 20px;">United States Dollar (USD): <input style="height:24px; width:100px;" value ="{{session['eurusd']}}" readonly></h2>
            <br>
            <h3 style="color:gold;">From 1 USD to:</h3>
            <h2 style="color:white; margin-bottom: 20px;">Great British Pounds (GBP): <input style="height:24px; width:100px;" value ="{{session['usdgbp']}}" readonly></h2>
            <h2 style="color:white; margin-bottom: 20px;">Euro (EUR): <input style="height:24px; width:100px;" value ="{{session['usdeur']}}" readonly></h2>


        </div>
</div>
{% endblock %}